---
layout: default
title: Home
---
<h3>Incoming Conferences</h3>
<p>TBA</p>

<h3><a href="archive">Past Conferences</a></h3>
<ul>
  {% assign sorted_confs = (site.conferences | sort: 'date') | reverse %}
  {% for confs in sorted_confs limit:5 %}
    {% if confs.name != "template"%}
    <li> 
      <a href="{{ confs.url }}">{{ confs.name }} {{ confs.year }} </a>
      <span style="float: right">{{ confs.date | date_to_long_string }}</span>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h3>Recent Meetups</h3>
<p>TBA</p>
<br>