---
layout: default
---

<h2>{{ page.name }} {{ page.year }}</h2>
<p><small>{{ page.date | date_to_long_string }}</small></p>
<p><small>{{ page.location }}</small></p>

<h3>Talks</h3>
<ul>
  {% for talks in page.talks %}
  <li style="padding-bottom: 10px"><a href="{{ talks.url }}" target="_blank"> {{ talks.title }}</a>, {{ talks.speaker }}
   {% if talks.topics != null %}
   <text style="color: #999;">&nbsp;(&nbsp;{{ talks.topics }}&nbsp;)&nbsp;</text>
   {% endif %}
   </li>
  {% endfor %}
</ul>

<h3>Packages and Resources</h3>
<ul>
  {% for pkgs in page.packages %}
  <li style="padding-bottom: 10px"><a href="{{ pkgs.url }}" target="_blank"> {{ pkgs.title }}</a>, {{ pkgs.speaker }} 
  {% if pkgs.topics != null %}
  <text style="color: #999;">&nbsp;(&nbsp;{{ pkgs.topics }}&nbsp;)&nbsp;</text>
  {% endif %}
  </li>
  {% endfor %}
</ul>
